
.thumbnail {
width: 100%;
display: block;
}

.vedio-title {
margin-top: 0;
font-size: 14px;
font-weight: bold;
line-height: 20px;
margin-bottom: 10px;
}

.vedio-info-grid {
display: grid;
grid-template-columns: 50px 1fr;
}

.profile-picture {
width: 36px;
border-radius: 50px;
}
.thumbnail-row {
margin-bottom: 8px;
position: relative;
}
.vedio-author,
.vedio-stats {
font-size: 12px;
color: rgb(96, 96, 96);

}
.vedio-author {
margin-bottom: 4px;
}

.vedio-grid {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
column-gap: 16px;
row-gap: 15px;
}

@media (max-width: 750px) {
    .vedio-grid {
        grid-template-columns: 1fr 1fr;
    }
}
   
@media (max-width: 751px) and (min-width: 999px) {
    .vedio-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1000px) {
    .vedio-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
   
.vedio-time {
    font-family: Roboto, Arial;
    font-size: 12px;
    font-weight: 500;
    padding: 4px;
    border-radius: 2px;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 8px;
    right: 5px;
}